.imageHolder {
  padding: 1rem;
  border: 3px solid green;
  margin: 2rem auto;
  width: 50rem;
  max-width: 50%;
  border-radius: 12px;
}
#image {
  max-width: stretch;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
