.description {
  padding: 1rem;
  border: 3px solid green;
  margin: 2rem auto;
  width: 50rem;
  max-width: 50%;
  border-radius: 12px;
  font-family: "Fresh Sans Medium", Helvetica, Arial, sans-serif;
}
